<div id="banner3" class="second-banner">
  <%= render 'shared/navbar' %>
  <div id="carousel-example-generic" class="carousel slide banner carousel-fade" data-ride="carousel" data-interval="6000" data-pause="null">
    <div class="banner-content">
      <%= image_tag "sparksmyers_logo_large_white.png", class: "sparks-logo" %>
      <p>Experts in Golf Course Architecture</p>
      <a class="call-button" href="tel:07957862635">
       Call us<span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;"></span>07957 862635</a>
     </div>
     <!-- Wrapper for slides -->
     <div class="carousel-inner" role="listbox">
      <div class="item active banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path "http://res.cloudinary.com/montycat/image/upload/q_auto/v1526637953/Sparks%20-Myers/tee.jpg" %>');">
      </div>
      <div class="item banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path "http://res.cloudinary.com/montycat/image/upload/q_auto/v1526637954/Sparks%20-Myers/spray.jpg" %>');">
      </div>
      <div class="item banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= image_path "http://res.cloudinary.com/montycat/image/upload/q_auto/v1526637953/Sparks%20-Myers/sunset.jpg" %>');">
      </div>
    </div>
  </div>
  <div class="arrow-container">
    <a href="#about">
      <div class="down-arrow">
        <i class="fa fa-angle-down"></i>
      </div>
    </a>
  </div>
</div>

