<div class="contact-wrapper" id="contact">
  <div class="container-fluid">
    <div class="row contact-form">
      <div class="testimonial-title">
        <h2 data-aos="fade-left" data-aos-duration="2000">Contact Sparks & Myers</h2>
        <p>Whether it is a single bunker renovation or a complete new course design we will take great care with every aspect of the design to ensure it is beautiful, functional and easily maintained.  We also always have a close eye on safety to ensure that new designs comply with recommendations and that older ones are made as safe as possible.<br><br>
          Sparks and Myers believe in long-term solutions for existing golf courses and prefer to create a five or ten year plan to work to, in order that the golf course renovations are well co-ordinated and that funds are wisely spent and never wasted on projects which later have to be superseded.
        Sparks and Myers work mostly in England but have also worked in Wales, Scotland, Northern Ireland, China, America, Portugal, Croatia, Sweden, Czech Republic and Germany.</p>
      </div>
      <%= simple_form_for(resource, as: :message, url: "/message") do |f| %>
      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <%= f.input :name, label: false, placeholder: "Your Name", required: true %>
        <%= f.input :email, label: false, placeholder: "Email", required: true %>
        <%= f.input :phone_number, label: false, placeholder: "Contact Number", required: true %>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <%= f.input :body, required: true, label: false, as: :text,  placeholder: "Event Info", input_html: { value: "I am enquiring about your architecture services" } %>
        <%= f.button :submit, "Send", class: 'send-button', id: "button1" %>
        <%= recaptcha_tags %>
      </div>
      <% end %>
    </div>
  </div>
</div>
