<div class="contact-wrapper" id="contact">
  <div class="container-fluid">
    <div class="row contact-form">
      <div class="testimonial-title">
        <h2 data-aos="flip-left" data-aos-duration="2000">Contact Sparks & Myers</h2>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <%= simple_form_for(resource, as: :message, url: "/message") do |f| %>
        <%= f.input :name, label: false, placeholder: "Your Name", required: true %>
        <%= f.input :email, label: false, placeholder: "Email", required: true %>
        <%= f.input :phone_number, label: false, placeholder: "Contact Number", required: true %>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <%= f.input :body, required: "", label: false, as: :text,  placeholder: "Event Info", required: true, input_html: { value: "I am enquiring about your architecture services" } %>
        <%= f.button :submit, "Send", class: 'send-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
