<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "sparksmyers_logo_large_white.png", height: 50, class: "white-logo" %>
    <%= image_tag "logo3.png", height: 50, class: "grey-logo" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Links -->
    <%= link_to "Home", "#home", class: "navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "About", "#about", class: "navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "Testimonials", "#testimonial", class: "navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "Our Projects", "#projects", class: "navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "Find us", "#gmap", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Contact", "#contact", class: "navbar-wagon-item navbar-wagon-link" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#testimonial">Testimonials</a></li>
        <li><a href="#projects">Our Projects</a></li>
        <li><a href="#gmap">Find us</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
