<div class="container-fluid">
  <div class="row">
    <div class="more-btn-div">
      <button class="more-button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Stoke Rochford Golf Club
        <br>
        <span class="dot">-</span>
        <br>
        12th hole, 139 yards/Par 3
      </button>
      <p></p>
    </div>
    <div class="more-btn-div">
      <button class="more-button" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
        Stoke Rochford Golf Club
        <br>
        <span class="dot">-</span>
        <br>
        12th hole, 139 yards/Par 3
      </button>
      <p></p>
    </div>
    <div class="collapse" id="collapseExample" style="overflow: hidden;">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div>
            <%= cl_image_tag "http://res.cloudinary.com/montycat/image/upload/v1524055739/Sparks%20-Myers/12th-act.jpg", class: "project-photos"%>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div>
            <%= cl_image_tag "http://res.cloudinary.com/montycat/image/upload/v1524055738/Sparks%20-Myers/12th-comp.jpg", class: "project-photos" %>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div>
            <%= cl_image_tag "http://res.cloudinary.com/montycat/image/upload/v1524055738/Sparks%20-Myers/12th-comp.jpg", class: "project-photos" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="collapse" id="collapseExample2" style="overflow: hidden;">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div>
            <%= cl_image_tag "http://res.cloudinary.com/montycat/image/upload/v1524055739/Sparks%20-Myers/12th-act.jpg", class: "project-photos"%>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div>
            <%= cl_image_tag "http://res.cloudinary.com/montycat/image/upload/v1524055738/Sparks%20-Myers/12th-comp.jpg", class: "project-photos" %>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div>
            <%= cl_image_tag "http://res.cloudinary.com/montycat/image/upload/v1524055738/Sparks%20-Myers/12th-comp.jpg", class: "project-photos" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
