<div id="projects" class="project-wrapper description-wrapper" style="background-image: linear-gradient(rgba(250,250,250,0.9), rgba(250,250,250,0.9)), url(http://res.cloudinary.com/montycat/image/upload/v1528537737/Screen_Shot_2018-06-09_at_10.48.06.png)">
  <div class="container-fluid" id="myGroup">
    <div class="row">
     <div class="about-title">
      <h2>Our Projects</h2>
    </div>
    <div class="more-buttons">
      <div class="more-btn-div">
        <button class="more-button" data-aos="zoom-out-right" data-aos-duration="3000" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" data-parent="#accordion">
          Stoke Rochford Golf Club
        </button>
        <p></p>
      </div>
      <div class="more-btn-div">
        <button class="more-button" data-aos="zoom-out-left" data-aos-duration="3000" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
          Dumb & Dummer Golf Club
        </button>
        <p></p>
      </div>
    </div>
    <div class="collapse" id="collapseExample" style="overflow: hidden;" aria-expanded="false">
      <div class="project-content">
        <div class="project-title text-center">
          <h3>Stoke Rochford Golf Club</h3>
        </div>
        <div class="project-desc text-center">
          <h6>This is the 12th green at Stoke Rochford GC. We were asked to ...................... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa veniam dolore labore, ut, recusandae odio magni quam aliquid quos repellendus, neque tempore voluptates amet quo vero sunt cumque harum! Dolor.</h6>
        </div>
      </div>
      <div class="project-container">
        <div class="project-carousel">
          <div>
            <%= cl_image_tag("Sparks -Myers/12th-act.jpg", class: "project-photos") %>
          </div>
          <div>
            <%= cl_image_tag("Sparks -Myers/12th-comp.jpg", class: "project-photos") %>
          </div>
          <div>
            <%= cl_image_tag("Sparks -Myers/12thbul.jpg", class: "project-photos") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="collapse" id="collapseExample2" style="overflow: hidden;" aria-expanded="false">
      <div class="project-content">
        <div class="project-title text-center">
          <h3>Dummer Golf Club</h3>
        </div>
        <div class="project-desc text-center">
          <h6>This is the 17th green at ????. We were asked to ...................... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa veniam dolore labore, ut, recusandae odio magni quam aliquid quos repellendus, neque tempore voluptates amet quo vero sunt cumque harum! Dolor.</h6>
        </div>
      </div>
      <div class="project-container">
        <div class="project-carousel">
          <div>
            <%= cl_image_tag("Sparks -Myers/club-act.jpg", class: "project-photos") %>
          </div>
          <div>
            <%= cl_image_tag("Sparks -Myers/club-comp.jpg", class: "project-photos") %>
          </div>
          <div>
            <%= cl_image_tag("Sparks -Myers/club-bul.jpg", class: "project-photos") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  const collapses = document.querySelectorAll('.collapse')
  const moreButtons = document.querySelectorAll('.more-button')
  moreButtons.forEach((button) => {
    button.addEventListener("click", (event) => {
      for(i = 0; i < collapses.length; i++) {
        if(collapses[i].attributes["aria-expanded"].value === "true") {
          if(i === 0) {
            collapses[1].attributes["aria-expanded"].value = "false"
          } else {
            collapses[0].attributes["aria-expanded"].value = "false"
          }
        };
      };
      // collapses.forEach((collapse, index) => {
      //   if(collapse.attributes["aria-expanded"].value === "true") {
      //     collapse.
      //   }
      // })
    })
  })

</script>
