<%= render 'shared/banner' %>

<div id="about"></div>

<div class="description-wrapper">
 <div class="container-fluid">
  <div class="row">
    <div class="about-title">
      <h2>Who are Olympian Stone</h2>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="olympian-content text-center">
       <p>Olympian Stone, based in Deal, Kent are suppliers and installers of natural stone.</p>
       <p>We specialize in Quartz, Granite, Marble, Limestone & Slate manufactured to your specifications.</p>
       <p>We also work with marble plaster and polished concrete floors and worktops.</p>
     </div>
   </div>
 </div>
</div>
</div>

<div class="testimonial-wrapper">
  <%= render 'shared/testimonial-slider' %>
</div>
<div id="stone" class="stone-companiy-wrapper text-center">
<h2>Check out our stone ranges</h2>
  <div class="container-fluid">
    <div class="row stone-companies">
      <div class="stone silestone col-xs-3" style="background-image: url('<%= image_path "http://res.cloudinary.com/montycat/image/upload/v1522089622/silestone.jpg" %>');">
        <a href="https://www.silestone.co.uk/colours/" target="_blank"><span class="span"></span></a>
        <div class="overlay">
        </div>
      </div>
      <div class="stone mfs-stone col-xs-3" style="background-image: url('<%= image_path "http://res.cloudinary.com/montycat/image/upload/v1522089622/MFS.png" %>');">
        <a href="http://marbleflooring.co.uk/stone-range/" target="_blank"><span class="span"></span></a>
        <div class="overlay">
        </div>
      </div>
      <div class="stone caesarstone col-xs-3" style="background-image: url('<%= image_path "http://res.cloudinary.com/montycat/image/upload/v1522089622/Caesarstone.png" %>');">
        <a href="http://www.caesarstone.co.uk/catalogue/" target="_blank"><span class="span"></span></a>
        <div class="overlay">
        </div>
      </div>
      <div class="stone msi-stone col-xs-3" style="background-image: url('<%= image_path "http://res.cloudinary.com/montycat/image/upload/v1522089621/MSI.png" %>');">
        <a href="https://www.msistone.com/countertops/" target="_blank"><span class="span"></span></a>
        <div class="overlay">
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/photo-generator' %>

<div class="location-map">
  <iframe class="gmap" id="gmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2498.4989297382454!2d1.3870846157597048!3d51.22830557959024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47deaec1fe49fed3%3A0x8b8ceb2121a575b2!2sOlympian+Stone!5e0!3m2!1sen!2suk!4v1521649694620" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<footer class="footer-wrapper">
  <div class="footer">
    <div class="address">
      <li>Olympian Stone Ltd</li>
      <li>Unit 8, Southwall Road</li>
      <li>Southwall Industrial Estate,</li>
      <li>Deal, Kent</li>
      <li>CT14 9QB</li>
      <li>Tel: 07555 238606</li>
    </div>
    <div class="footer-links">
      <a href="https://www.facebook.com/olympianstoneltd/" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
    <div class="footer-copyright">
      Site by Ed Sparks <i class="fa fa-heart"></i>
    </div>
  </div>
</footer>
