<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sparks & Myers | Golf Course Architects </title>
  <meta name="description" content="Sparks & Myers Golf Course Architects">
  <meta property="og:title" content="Sparks & Myers Golf Course Architects">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://www.sparksandmyers.co.uk/">
  <meta property="og:image" content='<%= image_tag "sparks-og.png" %>'>
  <meta property="og:description" content="Sparks & Myers Golf Course Architects - experts in golf course design and refurbishment">
  <meta property="og:site_name" content="Sparks & Myers">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
</head>
<body>
  <%= render 'shared/flashes' %>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</body>
</html>
